/* forms */

.form-container {
  text-align: center;
}

h3.h3-form {
  margin: 2em auto;
}

.page-form {
  text-align: left;
  width: 50%;
  margin: 0 auto;
}

.form-input {
  margin-bottom: 2em !important;
}
